body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(468__dan9772.webp);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    margin: 0 auto;
   background-color: #FFF;
    text-align: center;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #1F2A44;
}

.teste {
    height: 15vh;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: rgb(21, 21, 100);
    color: #FFFFFF;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.15);
    transition: 1s;
}

nav{
    position: fixed;
    width: 95%;
    background-color: rgb(21, 21, 100);;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    height: 9vh;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh; 
}

#resposta {
    width: 50vw;
    display: none;
    align-items: center;
    justify-content: center;
    height: 20vh;
    height: fit-content;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
}


nav img{
    width: 150px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}
nav .navigation ul li a:hover{
    font-size: 20px;
}

.navigation {
    margin-right: 7vh;
}
