.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container-geral {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/* CONTAINER LOGIN*/
.container-login {
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-login {
    width: 470px;
    height: 560px;
    flex-direction: column;

}

.box-input-login {
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.box-input-login input {
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
}

.box-btn-login {
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

.box-btn-login button {
    padding-left: 15px;
    width: 470px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #11009E;
    color: white;
    text-align: center;
    font-size: 15px;
}

/* CONTAINER LATERAL  */
.box2 {
    background-image: url(/Site/assets/imagem-login.jpg);
    opacity: 60%;
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.logo {
    background-image: url(/Site/assets/logoFlux.svg);
    width: 356px;
    height: 156px;
    justify-content: space-between;
    color: black;
    background-repeat: no-repeat;
}

.content-logo {
    display: inline;
}


.checkBox {
    display: inline;
    width: 200px;
    margin-top: 20px;
}

.cadastre-se {
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;


}

.linkCad {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.linkCad:hover {
    color: #11009E;
}